@using MvcCoffeeShop.Models
@using PagedList.Mvc
@model PagedList.PagedList<SanPham>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<div class="row">
    @foreach (var sanpham in Model)
    {
        <div class="col-md-4 text-center animate-box">
            <div class="product">
                <div class="product-grid" style="background-image: url(/Content/Images2/@sanpham.HinhAnh)">

                    <div class="inner">
                        <p>
                            <a href="@Url.Action("Details", "CoffeeShop", new { id = sanpham.MaSanPham.Trim()})"
                               class="icon"><i class="icon-shopping-cart"></i></a>
                            <a href="@Url.Action("Details", "CoffeeShop", new { id = sanpham.MaSanPham.Trim()})"
                               class="icon"><i class="icon-eye"></i></a>
                        </p>
                    </div>
                </div>
                <div class="desc">
                    <h3>
                        <a href="@Url.Action("Details", "CoffeeShop", new { id = sanpham.MaSanPham.Trim()})">
                            @sanpham.TenSanPham
                        </a>
                    </h3>
                    <span class="price">@sanpham.GiaBan</span>
                </div>
            </div>
        </div>
    }

</div>

<!-- Thêm mã phân trang -->
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Products", new { page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<!-- Kết thúc -->